africastalking
beautifulsoup4
bitlyshortener
cachetools
certifi
chardet
charset-normalizer
click
contextlib2
cssselect
feedfinder2
feedparser
filelock
idna
jieba3k
joblib
lxml
lxml_html_clean
newspaper4k
nltk
numpy
pandas
pillow
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-file
schema
sgmllib3k
six
soupsieve
tldextract
tqdm
typing_extensions
tzdata
urllib3
